@page "/"
@attribute [StreamRendering]

@using TastyEatsBD.Core.Constants
@using TastyEatsBD.WebApp.Components.Customer.Pages


<PageTitle>Tasty Eats Bangladesh</PageTitle>

<AuthorizeView Roles="@(ApplicationRoles.Customer)">
    <Authorized>
        <CustomerHome />
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="@(ApplicationRoles.Restaurant)">
    <Authorized>
        <h3>Offer great food items</h3>

        <h1>Process Orders!!!</h1>
    </Authorized>
</AuthorizeView>